@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudText Typo="Typo.body2">@context.User.Identity?.Name</MudText>
            <form method="post" action="/authentication/logout">
                <AntiforgeryToken />
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Inherit" Size="Size.Small">
                    Logout
                </MudButton>
            </form>
        </MudStack>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="/authentication/login" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">
            Login
        </MudButton>
    </NotAuthorized>
</AuthorizeView>
